* {
    box-sizing: border-box;
}

body {
    background-color: #FFFAEF !important;

}

.container {
    min-height: 70vh;
    background-color: #FFFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pageButtonsContainer{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 240px;
    padding-top: 24px;
    width: 100%;
}

.pageButtons{
    text-decoration: none;
    color: #01040B;
    background-color: #D9DEF4;
    font-size: large;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 100px;
}



.cardContainer {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 12px;
}

.questionsContainer {
    margin: 32px 100px;

}

.questionCard {
    text-align: center;
    background-color: #F7F7F7;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}

.card-title {
    margin-top: 32px;
    font-size: 26px;
    font-weight: bold;
}

.card-body {
    background-color: #FFFFFF;
    padding: 10px 8px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 64px;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}

.categoriesCard {
    background-color: #27355C;
    display: flex;
    align-items: center;
    width: 150px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
}

.logo {
    height: 64px;
    width: auto;
    margin-top: 16px;
}

.card-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 160px;
    
}

.questionCategory {
    text-decoration: none;
    margin-left: 0;
    color: #92A0BD;
    font-weight: 300;
}

.activeQuestion {
    border-left: 8px solid white;
    color: #E2E4F8;
}

.questionNumber{
    display: inline-block;
    background-color: #D6D6D6;
    padding: 8px 18px;
    font-weight: bold;
}

.answer-card:hover{
    cursor:pointer;
    background-color: rgba(0,0,0,0.01);
}

.yourScoreText{
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 26px;
    font-weight: bold;
    color: orange;
}

.endScreen{
    padding-top: 72px;
    gap: 0;
    flex-direction: column;
}

.endScreenImg{
    height: 100px;
}

.blackText{
    color: black;
}

.replayButton{
    margin-top: 8px;
    background-color: transparent;
    color: blue;
    border: none;
}

.trophy{
    position: absolute;
    right:0;
    top:200px;
    height: 300px;
}

.startScreen{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 0px;
}

.readyText{
    font-weight: 200;
}

.startButton{
    align-self: flex-end;
    margin-right: 48px;
    color: white;
    background-color: #FE4F10;
    display: flex;
}

.startButton:hover{
    background-color: #27355C;
    color: #FE4F10;
}

.linkCopiedMessage{
    color: lightgreen;
    font-size: 14px;
}