* {
    box-sizing: border-box;
}

body {
    background-color: #FFFAEF !important;

}

.container {
    min-height: 70vh;
    background-color: #FFFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardContainer {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 12px;
}

.questionsContainer {
    margin: 32px 100px;

}

.questionCard {
    text-align: center;
    background-color: #F7F7F7;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
}

.card-title {
    margin-top: 32px;
    font-size: 26px;
    font-weight: bold;
}

.card-body {
    background-color: #FFFFFF;
    padding: 10px 8px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 64px;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}

.categoriesCard {
    background-color: #27355C;
    display: flex;
    align-items: center;
    width: 150px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
}

.logo {
    height: 64px;
    width: auto;
    margin-top: 16px;
}

.card-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 160px;
    
}


.questionCategory {
    text-decoration: none;
    margin-left: 0;
    color: #92A0BD;
    font-weight: 300;
}

.activeQuestion {
    border-left: 8px solid white;
    color: #E2E4F8;
}

.questionNumber{
    display: inline-block;
    background-color: #D6D6D6;
    padding: 8px 18px;
    font-weight: bold;
}